Source: docopt
Section: python
Priority: optional
Maintainer: Agustin Henze <tin@debian.org>
Build-Depends: debhelper (>= 9),
 python-all,
 python-setuptools,
 python3-all,
 python3-setuptools,
 dh-python,
Standards-Version: 4.2.0
Homepage: http://docopt.org
Vcs-Git: https://salsa.debian.org/debian/docopt.git
Vcs-Browser: https://salsa.debian.org/debian/docopt

Package: python-docopt
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: command-line interface description language
 docopt helps you define an interface for your command-line app and
 automatically generate a parser for it. Its interface descriptions are
 based on a formalization of the standard conventions used in help
 messages and man pages.

Package: python3-docopt
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: command-line interface description language (Python3)
 docopt helps you define an interface for your command-line app and
 automatically generate a parser for it. Its interface descriptions are
 based on a formalization of the standard conventions used in help
 messages and man pages.
 .
 This is the Python 3 compatible version of the package.
